/*global styles*/
body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* media queries */
@media screen and (min-width: 768px) {
  .summary-container, .tech-container, .project-container, .skills-container, .thoughts-container, .more-container, .header-container {
    width: 500px;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .skills-card-wrapper {
    flex-wrap: nowrap;
    width: 500px;
  }
  
}

@media screen and (min-width: 1200px) {
  .summary-container, .tech-container, .project-container, .skills-container, .thoughts-container, .more-container, .header-container {
    width: 800px;
  }

  header {
    display: flex;
    justify-content: center;
  }

  .project {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 2%;
  }

}

h2 {
  padding: 5px;
  display: inline-block;
  text-transform: uppercase;
  background: #F14A16;
  color: #FFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section:nth-child(2n) {
  background-color: #F4F4F4;
  overflow: hidden;
}

.section:nth-child(2n + 1) {
  background-color: #fff;
}

.summary-container p {
  margin: 0;
  font-size: 17px;
  line-height: 29px;
}

.summary-container, .tech-container, .project-container, .thoughts-container, .more-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10%;
  font-family: 'Montserrat', sans-serif;
}

/* Header styling */
.header {
  background-image: url(./assets/header.JPG);
  height: 520px;
  background-position-y: 73%;
  color: #FFF;
}

.header-container {
  position: relative;
  height: 520px;
}

.header-links {
  position: absolute;
  top: 48px;
  right: 42.5px;
  display: flex;
}

.header-links-tab {
  margin: 0% 2%;
}

.header-btn {
  border: 1.5px solid #FFF;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-btn-img {
  width: 55%;
}

.header-text-group {
  position: absolute;
  top: 121px;
  left: 24px;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: lowercase;
  margin: 5px 0;
  font-size: 40px;
  letter-spacing: 1.2px;
}

header h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-transform: lowercase;
  margin: 0;
  letter-spacing: 0.5px;
}

header h4 {
  letter-spacing: 1.2px;
  font-size: 13px;
  font-weight: 300;
  margin: 5px 0;
  text-transform: uppercase;
}

.highlight {
  font-weight: 700;
}

.header-image-group {
  position: absolute;
  bottom: -16px;
  right: 24px;
}

.profile-image {
  width: 180px;
  border: 2px solid #FFF; 
  border-radius: 50%;
}

/* styling of span, creating the arrow in summary section*/
.arrow {
  height: 3px;
  width: 50px;
  background: #F14A16;
  position: relative;
  float: left;
  top: 12px;
  margin-right: 10px;
}

.arrow::after {
  content: '';
  height: 10px;
  width: 10px;
  position: relative;
  float: right;
  top: -3px;
  right: -1px;
  border-radius: 50%;
  background: #F14A16;
}

/* Some container specific styling */
.tech-container p {
  text-align: center;
  font-size: 17px;
  line-height: 1.5;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-image-group {
	position: relative;
}

.project-overlay {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(55, 55, 55, 0.5);
}

.project-image {
	width: 100%;
}

.project-title {
  position: absolute;
  top: 25%;
  left: 15%;
  font-size: 28px;
  letter-spacing: 0.01em;
  color: white;
  text-transform: uppercase;
}

.ingress {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 17px;
  line-height: 171%;
  display: block;
  letter-spacing: 0.01em;
  color: #F14A16;
  text-transform: uppercase;
}

.pointer {
  color: #F14A16;
  font-weight: bolder;
  text-decoration: none;
}

.project-tags {
  display: flex;
}

.project-text-group p {
  line-height: 29px;
  margin-bottom: 0;
}

.tag {
  background: #FDDFE7;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 9px;
  margin: 0px 5px 42px 0px;
  padding: 3px 6px;
}

.project-container h4, .thoughts-container h4 {
  font-weight: bold;
  font-size: 21px;
  line-height: 119%;
  text-align: center;
  color: #FA382F;
  text-transform: uppercase;
}

.thoughts-article {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto';
  font-size: 17px;
  line-height: 30px;
}

.date {
  font-size: 17px;
  line-height: 176%;
  color: #F14A16;
  text-transform: uppercase;
  display: block;
}

.thoughts-links {
  font-weight: 600;
  color: black;
  font-size: 17px;
  letter-spacing: 1px;
  margin-bottom: 5%;
  font-family: 'Roboto';
  line-height: 30px;
}

.thoughts-image {
  width: 100%;
}

.more-thoughts-date {
  font-size: 17px;
  font-weight: lighter;
  line-height: 176%;
  color: #F14A16;
  text-transform: uppercase;
}

.intro {
  font-weight: bolder;
  font-size: 20px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-text-group {
  margin-top: 30px;
}

.skills-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font-size: 17px;
  line-height: 29px;
  margin-bottom: 20%;
}

.skills-card {
  margin: 5%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.more-container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.more-links {
  display: flex;
}  

.more-btn {
  border: 1.5px solid red;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.more-btn-img {
  width: 40%;
}

.more-links-tab {
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
  text-align: center;
  color: #F14A16;
  text-transform: uppercase;
  width: max-content;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-links-tab p {
  width: max-content;
}

footer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #35589A;
  overflow: hidden;
  font-family: 'Montserrat';
  padding: 25px 0;
}

footer h3 {
  text-transform: uppercase;
  font-size: 21px;
}

footer p {
  margin: 3px;
}